.header-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--accent-color-light);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.header-menu ul {
  margin: 0;
  padding: 10px;
}

.header-menu li {
  display: block;
  margin: 0 8px;
}

.header-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--font-dark);
  display: block;
  transition: 0.3s;
  font-size: var(--font-M);
  text-transform: uppercase;
}

.header-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.mobile-menu {
  background-color: #ffffff90;
  padding: 10px var(--section-margin);
  text-align: right;
}

.mobile-menu span {
  cursor: pointer;
}

.header-menu-PC {
  text-align: center;
  background-color: #ffffff90;
  height: auto;
  width: 100%;
  padding-top: 0;
  position: relative;
}

@media (min-width: 750px) {
  .header-menu li {
    display: inline;
  }
  .header-menu li a {
    display: inline;
  }
  .header-menu .closebtn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}